#! rockbox/tagbrowser/2.0

%menu_start "my_custom_menu" "Rockbox Browser"
"Artists" ==> "my_custom_artists_menu"
"Albums" ==> "my_custom_albums_menu"
"Tracks by usage" ==> "my_custom_usage_menu"
"Mood" ==> "my_custom_moods_menu"
"Podcasts" ==> "my_custom_podcasts_menu"
"Search" ==> "my_custom_search_menu"
