#! rockbox/tagbrowser/2.0

%format "f_browse" "%03d|%03d %s" discnum tracknum title %strip = "7"

%format "f_podcast" "%5d%s" tracknum title %sort = "inverse" %strip = "5"

%menu_start "my_custom_podcasts_menu" "Podcasts"
"New episodes" -> album ? filename ^ "/PODCASTS/" -> title = "f_podcast" ? playcount == "0"
"Old episodes" -> album ? filename ^ "/PODCASTS/" -> title = "f_podcast" ? playcount != "0"

%format "f_mood" "%s (%s)" title album

%menu_start "mood_1" "Relaxed"
"All tracks" -> artist ? filename ^ "/MUSIC/" & genre @ "classical|choral|jazz|acoustic|ambient|new age|easy listening" -> title = "f_mood"
"Classical" -> artist ? filename ^ "/MUSIC/" & genre @ "classical|choral" -> title = "f_mood"
"Jazz" -> artist ? filename ^ "/MUSIC/" & genre = "jazz" -> title = "f_mood"
"Background" -> artist ? filename ^ "/MUSIC/" & genre @ "acoustic|ambient|new age|easy listening" -> title = "f_mood"

%menu_start "mood_2" "Party"
"All tracks" -> artist ? filename ^ "/MUSIC/" & genre @ "dance|disco|electronica|pop|techno|trance|funk|soul" -> title = "f_mood"
"Upbeat" -> artist ? filename ^ "/MUSIC/" & genre @ "dance|disco|electronica|pop|techno|trance" -> title = "f_mood"
"Downbeat" -> artist ? filename ^ "/MUSIC/" & genre @ "funk|soul" -> title = "f_mood"

%menu_start "mood_3" "Top of the Pops"
"All tracks" -> artist ? filename ^ "/MUSIC/" & genre @ "pop rock|dance|indie|pop|pop folk|r&b|country|folk" -> title = "f_mood"
"Upbeat" -> artist ? filename ^ "/MUSIC/" & genre @ "pop rock|dance|indie|pop|pop folk" -> title = "f_mood"
"Downbeat" -> artist ? filename ^ "/MUSIC/" & genre @ "r&b|country|folk|alternative" -> title = "f_mood"

%menu_start "mood_4" "Rockin' Out"
"All tracks" -> artist ? filename ^ "/MUSIC/" & genre @ "new wave|metal|alt rock|rock|punk rock|indie|rock and roll|britpop|pop rock|blues|hard rock|gothic" -> title = "f_mood"
"Upbeat" -> artist ? filename ^ "/MUSIC/" & genre @ "new wave|metal|alt rock|rock|punk rock|indie|rock and roll|britpop|pop rock" -> title = "f_mood"
"Downbeat" -> artist ? filename ^ "/MUSIC/" & genre @ "blues|hard rock|gothic" -> title = "f_mood"

%menu_start "mood_5" "Heavy"
"All tracks" -> artist ? filename ^ "/MUSIC/" & genre @ "psychedelic rock|prog rock|classic rock|grunge|industrial|alternative|drum 'n' bass|blues|trip hop" -> title = "f_mood"
"Upbeat" -> artist ? filename ^ "/MUSIC/" & genre @ "psychedelic rock|prog rock|classic rock|grunge|industrial" -> title = "f_mood"
"Downbeat" -> artist ? filename ^ "/MUSIC/" & genre @ "alternative|drum 'n' bass|blues|trip hop" -> title = "f_mood"

%menu_start "my_custom_moods_menu" "Pick your mood..."
"Relaxed" ==> "mood_1"
"Party" ==> "mood_2"
"Top of the Pops" ==> "mood_3"
"Rockin' Out" ==> "mood_4"
"Heavy" ==> "mood_5"

%menu_start "my_custom_albums_years_menu" "Between years..."
"2015-" -> album ? filename ^ "/MUSIC/" & year => "2015" -> title = "f_browse"
"2010-2014" -> album ? filename ^ "/MUSIC/" & year >= "2010" & year <= "2014" -> title = "f_browse"
"2005-2009" -> album ? filename ^ "/MUSIC/" & year >= "2005" & year <= "2009" -> title = "f_browse"
"2000-2004" -> album ? filename ^ "/MUSIC/" & year >= "2000" & year <= "2004" -> title = "f_browse"
"1995-1999" -> album ? filename ^ "/MUSIC/" & year >= "1995" & year <= "1999" -> title = "f_browse"
"1990-1994" -> album ? filename ^ "/MUSIC/" & year >= "1990" & year <= "1994" -> title = "f_browse"
"1985-1989" -> album ? filename ^ "/MUSIC/" & year >= "1985" & year <= "1989" -> title = "f_browse"
"1980-1984" -> album ? filename ^ "/MUSIC/" & year >= "1980" & year <= "1984" -> title = "f_browse"
"1975-1979" -> album ? filename ^ "/MUSIC/" & year >= "1975" & year <= "1979" -> title = "f_browse"
"1970-1974" -> album ? filename ^ "/MUSIC/" & year >= "1970" & year <= "1974" -> title = "f_browse"
"1965-1969" -> album ? filename ^ "/MUSIC/" & year >= "1965" & year <= "1969" -> title = "f_browse"
"1960-1964" -> album ? filename ^ "/MUSIC/" & year >= "1960" & year <= "1964" -> title = "f_browse"
"-1959" -> album ? filename ^ "/MUSIC/" & year <= "1959" -> title = "f_browse"

%menu_start "my_custom_albums_recent_menu" "Recent additions"
"Last sync" -> album ? filename ^ "/MUSIC/" & entryage = "0" -> title = "f_browse"
"Second last" -> album ? filename ^ "/MUSIC/" & entryage = "1" -> title = "f_browse"
"Third last" -> album ? filename ^ "/MUSIC/" & entryage = "2" -> title = "f_browse"

%menu_start "my_custom_albums_alpha_menu" "By first letter"
"Non-alphabetic" -> album ? filename ^ "/MUSIC/" & album < "A" -> title = "f_browse"
"A"   -> album ? filename ^ "/MUSIC/" & album ^ "A" -> title = "f_browse"
"B"   -> album ? filename ^ "/MUSIC/" & album ^ "B" -> title = "f_browse"
"C"   -> album ? filename ^ "/MUSIC/" & album ^ "C" -> title = "f_browse"
"D"   -> album ? filename ^ "/MUSIC/" & album ^ "D" -> title = "f_browse"
"E"   -> album ? filename ^ "/MUSIC/" & album ^ "E" -> title = "f_browse"
"F"   -> album ? filename ^ "/MUSIC/" & album ^ "F" -> title = "f_browse"
"G"   -> album ? filename ^ "/MUSIC/" & album ^ "G" -> title = "f_browse"
"H"   -> album ? filename ^ "/MUSIC/" & album ^ "H" -> title = "f_browse"
"I"   -> album ? filename ^ "/MUSIC/" & album ^ "I" -> title = "f_browse"
"J"   -> album ? filename ^ "/MUSIC/" & album ^ "J" -> title = "f_browse"
"K"   -> album ? filename ^ "/MUSIC/" & album ^ "K" -> title = "f_browse"
"L"   -> album ? filename ^ "/MUSIC/" & album ^ "L" -> title = "f_browse"
"M"   -> album ? filename ^ "/MUSIC/" & album ^ "M" -> title = "f_browse"
"N"   -> album ? filename ^ "/MUSIC/" & album ^ "N" -> title = "f_browse"
"O"   -> album ? filename ^ "/MUSIC/" & album ^ "O" -> title = "f_browse"
"P"   -> album ? filename ^ "/MUSIC/" & album ^ "P" -> title = "f_browse"
"Q"   -> album ? filename ^ "/MUSIC/" & album ^ "Q" -> title = "f_browse"
"R"   -> album ? filename ^ "/MUSIC/" & album ^ "R" -> title = "f_browse"
"S"   -> album ? filename ^ "/MUSIC/" & album ^ "S" -> title = "f_browse"
"T"   -> album ? filename ^ "/MUSIC/" & album ^ "T" & album !^ "The " -> album  -> title = "f_browse"
"The..." -> album ? filename ^ "/MUSIC/" & album ^ "The " -> title = "f_browse"
"U"   -> album ? filename ^ "/MUSIC/" & album ^ "U" -> title = "f_browse"
"V"   -> album ? filename ^ "/MUSIC/" & album ^ "V" -> title = "f_browse"
"W"   -> album ? filename ^ "/MUSIC/" & album ^ "W" -> title = "f_browse"
"X"   -> album ? filename ^ "/MUSIC/" & album ^ "X" -> title = "f_browse"
"Y"   -> album ? filename ^ "/MUSIC/" & album ^ "Y" -> title = "f_browse"
"Z"   -> album ? filename ^ "/MUSIC/" & album ^ "Z" -> title = "f_browse"

%menu_start "my_custom_albums_menu" "Browse albums"
"All" -> album ? filename ^ "/MUSIC/" -> title = "f_browse"
"By first letter" ==> "my_custom_albums_alpha_menu"
"Recent additions" ==> "my_custom_albums_recent_menu"
"Containing..." -> album ? filename ^ "/MUSIC/" & album ~ "" -> title = "f_browse"
"By genre" -> genre ? filename ^ "/MUSIC/" -> album -> title = "f_browse"
"Between years..." ==> "my_custom_albums_years_menu"

%format "f_runtime" "%2d|%3d %s (%s)" playcount autoscore title artist %sort = "inverse" %limit = "100"
%format "f_lastplayed"  "%06d%s (%s)" lastplayed title artist %sort = "inverse" %limit = "100" %strip = "6"
%format "f_forgotten"  "%06d%s (%s)" lastplayed title artist %limit = "100" %strip = "6"
%format "f_score" "%3d %s" autoscore title %strip = "3"

%menu_start "my_custom_usage_menu" "Browse by usage"
"Most played (Plays|Score)" -> title = "f_runtime" ? filename ^ "/MUSIC/" & playcount > "0"
"Recently played" -> title = "f_lastplayed" ? filename ^ "/MUSIC/" & playcount > "0"
"Favourite albums" -> album ? filename ^ "/MUSIC/" & playcount > "3" & autoscore > "85" -> title = "f_score"
"Recent favourites" -> title = "f_lastplayed" ? filename ^ "/MUSIC/" & playcount > "3" & autoscore > "85"
"Forgotten favourites" -> title = "f_forgotten" ? filename ^ "/MUSIC/" & playcount > "3" & autoscore > "85"
"Never played" -> artist ? filename ^ "/MUSIC/" & playcount == "0" -> album -> title = "f_browse"

%menu_start "my_custom_artists_alpha_menu" "By first letter"
"Non-alphabetic" -> albumartist ? filename ^ "/MUSIC/" & albumartist < "A" -> album -> title = "f_browse"
"A" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "A" -> album -> title = "f_browse"
"B" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "B" -> album -> title = "f_browse"
"C" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "C" -> album -> title = "f_browse"
"D" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "D" -> album -> title = "f_browse"
"E" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "E" -> album -> title = "f_browse"
"F" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "F" -> album -> title = "f_browse"
"G" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "G" -> album -> title = "f_browse"
"H" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "H" -> album -> title = "f_browse"
"I" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "I" -> album -> title = "f_browse"
"J" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "J" -> album -> title = "f_browse"
"K" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "K" -> album -> title = "f_browse"
"L" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "L" -> album -> title = "f_browse"
"M" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "M" -> album -> title = "f_browse"
"N" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "N" -> album -> title = "f_browse"
"O" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "O" -> album -> title = "f_browse"
"P" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "P" -> album -> title = "f_browse"
"Q" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "Q" -> album -> title = "f_browse"
"R" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "R" -> album -> title = "f_browse"
"S" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "S" -> album -> title = "f_browse"
"T" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "T" -> album -> title = "f_browse"
"U" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "U" -> album -> title = "f_browse"
"V" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "V" -> album -> title = "f_browse"
"W" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "W" -> album -> title = "f_browse"
"X" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "X" -> album -> title = "f_browse"
"Y" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "Y" -> album -> title = "f_browse"
"Z" -> albumartist ? filename ^ "/MUSIC/" & albumartist ^ "Z" -> album -> title = "f_browse"

%menu_start "my_custom_artists_menu" "Browse artists"
"All" -> albumartist ? filename ^ "/MUSIC/" -> album -> title = "f_browse"
"By first letter" ==> "my_custom_artists_alpha_menu"
"By genre" -> genre ? filename ^ "/MUSIC/" -> albumartist -> album -> title = "f_browse"
"Containing..." -> albumartist ? filename ^ "/MUSIC/" & albumartist ~ "" -> album -> title = "f_browse"

%menu_start "my_custom_menu" "Rockbox Browser"
"Artists" ==> "my_custom_artists_menu"
"Albums" ==> "my_custom_albums_menu"
"Tracks by usage" ==> "my_custom_usage_menu"
"Mood" ==> "my_custom_moods_menu"
"Podcasts" ==> "my_custom_podcasts_menu"
"Search" ==> "my_custom_search_menu"

%root_menu "my_custom_menu"
