#! rockbox/tagbrowser/2.0

%menu_start "my_custom_search_menu" "Search for..."
"Artist starting with..." -> artist ? artist ^ "" -> album -> title = "f_browse"
"Artist containing..." -> artist ? artist ~ "" -> album -> title = "f_browse"
"Album starting with..." -> album ? album ^ "" -> title = "f_browse"
"Album containing..." -> album ? album ~ "" -> title = "f_browse"
"Track starting with..." -> album ? title ^ "" -> title = "f_direct"
"Track containing..." -> album ? title ~ "" -> title = "f_direct"
"Filename starting with..." -> album ? filename ^ "" -> title = "f_direct"
"Filename containing..." -> album ? filename ~ "" -> title = "f_direct"
