#! rockbox/tagbrowser/2.0
# PATHFILTER: "/MUSIC/"

%menu_start "my_custom_artists_menu" "Browse artists"
"All" -> albumartist -> album -> title = "f_browse"
"By first letter" ==> "my_custom_artists_alpha_menu"
"By genre" -> genre -> albumartist -> album -> title = "f_browse"
"Containing..." -> albumartist ? albumartist ~ "" -> album -> title = "f_browse"
