#! rockbox/tagbrowser/2.0

%format "f_runtime" "%2d|%3d %s (%s)" playcount autoscore title artist %sort = "inverse" %limit = "100"
%format "f_lastplayed"  "%06d%s (%s)" lastplayed title artist %sort = "inverse" %limit = "100" %strip = "6"
%format "f_forgotten"  "%06d%s (%s)" lastplayed title artist %limit = "100" %strip = "6"
%format "f_score" "%3d %s" autoscore title %strip = "3"
