#! rockbox/tagbrowser/2.0
# PATHFILTER: "/MUSIC/"

%menu_start "my_custom_usage_menu" "Browse by usage"
"Most played (Plays|Score)" -> title = "f_runtime" ? playcount > "0"
"Recently played" -> title = "f_lastplayed" ? playcount > "0"
"Favourite albums" -> album ? playcount > "3" & autoscore > "85" -> title = "f_score"
"Recent favourites" -> title = "f_lastplayed" ? playcount > "3" & autoscore > "85"
"Forgotten favourites" -> title = "f_forgotten" ? playcount > "3" & autoscore > "85"
"Never played" -> artist ? playcount == "0" -> album -> title = "f_browse"
