#! rockbox/tagbrowser/2.0
# PATHFILTER: "/MUSIC/"

%menu_start "mood_1" "Relaxed"
"All tracks" -> artist ? genre @ "classical|choral|jazz|acoustic|ambient|new age|easy listening" -> title = "f_mood"
"Classical" -> artist ? genre @ "classical|choral" -> title = "f_mood"
"Jazz" -> artist ? genre = "jazz" -> title = "f_mood"
"Background" -> artist ? genre @ "acoustic|ambient|new age|easy listening" -> title = "f_mood"

%menu_start "mood_2" "Party"
"All tracks" -> artist ? genre @ "dance|disco|electronica|pop|techno|trance|funk|soul" -> title = "f_mood"
"Upbeat" -> artist ? genre @ "dance|disco|electronica|pop|techno|trance" -> title = "f_mood"
"Downbeat" -> artist ? genre @ "funk|soul" -> title = "f_mood"

%menu_start "mood_3" "Top of the Pops"
"All tracks" -> artist ? genre @ "pop rock|dance|indie|pop|pop folk|r&b|country|folk" -> title = "f_mood"
"Upbeat" -> artist ? genre @ "pop rock|dance|indie|pop|pop folk" -> title = "f_mood"
"Downbeat" -> artist ? genre @ "r&b|country|folk|alternative" -> title = "f_mood"

%menu_start "mood_4" "Rockin' Out"
"All tracks" -> artist ? genre @ "new wave|metal|alt rock|rock|punk rock|indie|rock and roll|britpop|pop rock|blues|hard rock|gothic" -> title = "f_mood"
"Upbeat" -> artist ? genre @ "new wave|metal|alt rock|rock|punk rock|indie|rock and roll|britpop|pop rock" -> title = "f_mood"
"Downbeat" -> artist ? genre @ "blues|hard rock|gothic" -> title = "f_mood"

%menu_start "mood_5" "Heavy"
"All tracks" -> artist ? genre @ "psychedelic rock|prog rock|classic rock|grunge|industrial|alternative|drum 'n' bass|blues|trip hop" -> title = "f_mood"
"Upbeat" -> artist ? genre @ "psychedelic rock|prog rock|classic rock|grunge|industrial" -> title = "f_mood"
"Downbeat" -> artist ? genre @ "alternative|drum 'n' bass|blues|trip hop" -> title = "f_mood"

%menu_start "my_custom_moods_menu" "Pick your mood..."
"Relaxed" ==> "mood_1"
"Party" ==> "mood_2"
"Top of the Pops" ==> "mood_3"
"Rockin' Out" ==> "mood_4"
"Heavy" ==> "mood_5"
