#! rockbox/tagbrowser/2.0
# PATHFILTER: "/MUSIC/"

%menu_start "my_custom_albums_alpha_menu" "By first letter"
"Non-alphabetic" -> album ? album < "A" -> title = "f_browse"
"A"   -> album ? album ^ "A" -> title = "f_browse"
"B"   -> album ? album ^ "B" -> title = "f_browse"
"C"   -> album ? album ^ "C" -> title = "f_browse"
"D"   -> album ? album ^ "D" -> title = "f_browse"
"E"   -> album ? album ^ "E" -> title = "f_browse"
"F"   -> album ? album ^ "F" -> title = "f_browse"
"G"   -> album ? album ^ "G" -> title = "f_browse"
"H"   -> album ? album ^ "H" -> title = "f_browse"
"I"   -> album ? album ^ "I" -> title = "f_browse"
"J"   -> album ? album ^ "J" -> title = "f_browse"
"K"   -> album ? album ^ "K" -> title = "f_browse"
"L"   -> album ? album ^ "L" -> title = "f_browse"
"M"   -> album ? album ^ "M" -> title = "f_browse"
"N"   -> album ? album ^ "N" -> title = "f_browse"
"O"   -> album ? album ^ "O" -> title = "f_browse"
"P"   -> album ? album ^ "P" -> title = "f_browse"
"Q"   -> album ? album ^ "Q" -> title = "f_browse"
"R"   -> album ? album ^ "R" -> title = "f_browse"
"S"   -> album ? album ^ "S" -> title = "f_browse"
"T"   -> album ? album ^ "T" & album !^ "The " -> album  -> title = "f_browse"
"The..." -> album ? album ^ "The " -> title = "f_browse"
"U"   -> album ? album ^ "U" -> title = "f_browse"
"V"   -> album ? album ^ "V" -> title = "f_browse"
"W"   -> album ? album ^ "W" -> title = "f_browse"
"X"   -> album ? album ^ "X" -> title = "f_browse"
"Y"   -> album ? album ^ "Y" -> title = "f_browse"
"Z"   -> album ? album ^ "Z" -> title = "f_browse"
