#! rockbox/tagbrowser/2.0
# PATHFILTER: "/MUSIC/"

%menu_start "my_custom_albums_menu" "Browse albums"
"All" -> album -> title = "f_browse"
"By first letter" ==> "my_custom_albums_alpha_menu"
"Recent additions" ==> "my_custom_albums_recent_menu"
"Containing..." -> album ? album ~ "" -> title = "f_browse"
"By genre" -> genre -> album -> title = "f_browse"
"Between years..." ==> "my_custom_albums_years_menu"
