#! rockbox/tagbrowser/2.0

%menu_start "my_custom_artists_alpha_menu" "By first letter"
"Non-alphabetic" -> albumartist ? albumartist < "A" -> album -> title = "f_browse"
"A" -> albumartist ? albumartist ^ "A" -> album -> title = "f_browse"
"B" -> albumartist ? albumartist ^ "B" -> album -> title = "f_browse"
"C" -> albumartist ? albumartist ^ "C" -> album -> title = "f_browse"
"D" -> albumartist ? albumartist ^ "D" -> album -> title = "f_browse"
"E" -> albumartist ? albumartist ^ "E" -> album -> title = "f_browse"
"F" -> albumartist ? albumartist ^ "F" -> album -> title = "f_browse"
"G" -> albumartist ? albumartist ^ "G" -> album -> title = "f_browse"
"H" -> albumartist ? albumartist ^ "H" -> album -> title = "f_browse"
"I" -> albumartist ? albumartist ^ "I" -> album -> title = "f_browse"
"J" -> albumartist ? albumartist ^ "J" -> album -> title = "f_browse"
"K" -> albumartist ? albumartist ^ "K" -> album -> title = "f_browse"
"L" -> albumartist ? albumartist ^ "L" -> album -> title = "f_browse"
"M" -> albumartist ? albumartist ^ "M" -> album -> title = "f_browse"
"N" -> albumartist ? albumartist ^ "N" -> album -> title = "f_browse"
"O" -> albumartist ? albumartist ^ "O" -> album -> title = "f_browse"
"P" -> albumartist ? albumartist ^ "P" -> album -> title = "f_browse"
"Q" -> albumartist ? albumartist ^ "Q" -> album -> title = "f_browse"
"R" -> albumartist ? albumartist ^ "R" -> album -> title = "f_browse"
"S" -> albumartist ? albumartist ^ "S" -> album -> title = "f_browse"
"T" -> albumartist ? albumartist ^ "T" -> album -> title = "f_browse"
"U" -> albumartist ? albumartist ^ "U" -> album -> title = "f_browse"
"V" -> albumartist ? albumartist ^ "V" -> album -> title = "f_browse"
"W" -> albumartist ? albumartist ^ "W" -> album -> title = "f_browse"
"X" -> albumartist ? albumartist ^ "X" -> album -> title = "f_browse"
"Y" -> albumartist ? albumartist ^ "Y" -> album -> title = "f_browse"
"Z" -> albumartist ? albumartist ^ "Z" -> album -> title = "f_browse"
